body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.9);
}

.bottom-navigation {
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 90%;
    caret-color: transparent;
    line-height: 30px;
    font-size: 1em;
}

.card-title {
    font-size: 1em;
}

.harga_ori {
    text-decoration: line-through;
}

#unit {
    font-size: 0.7em;
}

.emptyness {
    height: 50px;
}

.price {
    font-size: 0.8em;
    padding: 0;
    margin:0;
}

.produk-terkair-list {
    width: 100%;
    margin-top: 0.5em;
    list-style-type: none;
    padding-left: 0em;
    display: -webkit-box;
    overflow-x: scroll;
    white-space: nowrap;
}

.item-cart {
    font-size: 0.8em;
    padding: 0px;
}

.image-cart {
    display: inline;
}

.total-items {
    width: 2em;
    font-size: 0.8em;
}

.item-name-cart {
    font-family: 'Helvetica', 'Arial', sans-serif;
}